Repository AliceO2Group/O2DPG, pull requests merged in 2024-06, with the labels that each got.

#1640 [Anchor] Use dynamic resource estimate for SimWF
  MC/run/ANCHOR/anchorMC.sh
Labels: async-2023-pbpb-apass3, async-2023-pbpb-apass4, async-2022-pp-apass6-2023-PbPb-apass2, async-2023-pp-apass4, async-2024-pp-apass1, async-2022-pp-apass7

#1661 [EMCAL-756] Moving windows for EMCAL async QC
  DATA/production/qc-async/emc.json
  DATA/production/qc-async/emc_PbPb.json
Labels: async-2024-pp-apass1, async-2024-pp-cpass0

#1666 PWGHF: Pb-Pb generator to embed N HF events in a single underlying event.
  MC/config/PWGHF/external/generator/generator_pythia8_embed_hf.C
  MC/config/PWGHF/ini/GeneratorHF_D2H_ccbar_and_bbbar_PbPb.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_PbPb.C
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_Mode2_hardQCD_5TeV.cfg
Labels: async-2022-pp-apass4, async-2023-pbpb-apass3, async-2023-pbpb-apass4, async-2022-pp-apass6-2023-PbPb-apass2, async-2022-pp-apass4-accepted, async-2022-pp-apass6-2023-PbPb-apass2-accepted, async-2023-pbpb-apass3-accepted, async-2023-pbpb-apass4-accepted, async-2023-pp-apass4, async-2023-pp-apass4-accepted, async-2024-pp-apass1, async-2022-pp-apass7, async-2022-pp-apass7-accepted, async-2024-pp-apass1-accepted

#1673 PWGHF: fix PDG code of L(1520) in Lc decays.
  MC/config/PWGHF/ini/tests/GeneratorHFTrigger_Bforced.C
  MC/config/PWGHF/ini/tests/GeneratorHFTrigger_bbbar.C
  MC/config/PWGHF/ini/tests/GeneratorHFTrigger_ccbar.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_gap5.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_Mode2_ptHardBins.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_PbPb.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_gap3.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_gap3_Mode2.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_gap5.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_gap5_Mode2.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_and_bbbar_gap8.C
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_ccbar_gap5.C
  MC/config/PWGHF/pythia8/decayer/force_hadronic_D.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_Mode2.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_Mode2_hardQCD_5TeV.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_Mode2_ptHardBins.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmtriggers_with_Bforced_decay.cfg
  MC/config/PWGHF/pythia8/generator/pythia8_charmtriggers_with_decays.cfg
Labels: async-2023-pbpb-apass3, async-2023-pbpb-apass4, async-2023-pp-apass4, async-2024-pp-apass1, async-2022-pp-apass7

#1674 PWGHF: Add possibility to pass pT-hard bins from script
  MC/config/PWGHF/external/generator/generator_pythia8_embed_hf.C
  MC/config/PWGHF/external/generator/generator_pythia8_gaptriggered_hf.C
Labels: async-2023-pbpb-apass3, async-2023-pbpb-apass4, async-2023-pp-apass4, async-2024-pp-apass1, async-2022-pp-apass7
