Repository AliceO2Group/O2DPG, pull requests merged in 2024-11, with the labels that each got.

#1803 [PWGLF] Add a2(1230) exotic resonance candidate
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_pp_exotic.C
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic.json
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic_pbpb.json
Labels: async-2023-pbpb-apass4, async-2024-pp-apass1, async-2022-pp-apass7, async-2024-PbPb-apass1

#1815 ccdb-run-dependent metadata should be int
  DATA/production/qc-async/emc.json
  DATA/production/qc-async/emc_PbPb.json
  MC/config/QC/json/emc-bc-task.json
Labels: async-2024-pp-apass1, async-2024-PbPb-cpass0, async-2024-PbPb-apass1

#1814 Automatic isLowFlux setting in event selection QA config
  MC/analysis_testing/o2dpg_analysis_test_utils.py
  MC/config/analysis_testing/json/dpl/o2-analysis-event-selection-qa.json
Labels: async-2024-PbPb-apass1
