Repository AliceO2Group/O2DPG, pull requests merged in 2024-02, with the labels that each got.

#1487 Change eta cut for TPC tracks in GLO QC.
  DATA/production/qc-async/itstpc.json
  MC/config/QC/json/ITSTPCmatchedTracks_direct_MC.json
Labels: async-2023-pbpb-apass

#1494 Use alio2-cr1-flp199-ib:8083 as DCS-CCDB server, define in setenv.sh
  DATA/common/setenv.sh
  DATA/production/calib/hmp-pedestals-processing.sh
  DATA/production/calib/its-noise-aggregator.sh
  DATA/production/calib/its-threshold-aggregator.sh
  DATA/production/calib/mch-badchannel-aggregator.sh
  DATA/production/calib/mft-noise-aggregator.sh
  DATA/production/calib/mid-badchannels.sh
  DATA/testing/detectors/MID/mid-calib-workflow.sh
Labels: online-calib

#1500 Do not ask for geometry in GLO ITS-TPC and TOF matching QC
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-async/itstpctof.json
  DATA/production/qc-async/itstpctofwtrd.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
  DATA/production/qc-sync/itstpctof.json
  DATA/production/qc-sync/itstpctrdtof.json
  MC/config/QC/json/ITSTPCmatchedTracks_direct_MC.json
  MC/config/QC/json/tofMatchedTracks_AllTypes_direct_MC.json
  MC/config/QC/json/tofMatchedTracks_ITSTPCTOF_TPCTOF_direct_MC.json
Labels: async-2023-pbpb-apass, async-data

#1510 Do not split the metrics, as it is too slow, unless requested
  DATA/production/configurations/asyncReco/async_pass.sh
Labels: async-data

#1508 Running extraction of TPC time series in anchored MC
  MC/run/ANCHOR/anchorMC.sh
Labels: async-2023-pbpb-apass, async-data, async-mc
