Repository AliceO2Group/O2DPG, pull requests merged in 2025-04, with the labels that each got.

#1958 Possibility to digest ALIEN_JDL_TPCDEDXCLMASKALT and ALIEN_JDL_TPCEDGETWOPADS
  DATA/production/configurations/asyncReco/setenv_extra.sh
Labels: async-2024-PbPb-apass2, async-2023-PbPb-apass5

#1959 Add o2-analysis-time-dependent-qa to the suite of AnalysisQC tasks
  MC/config/analysis_testing/json/analyses_config.json
  MC/config/analysis_testing/json/dpl/o2-analysis-time-dependent-qa.json
Labels: async-2024-PbPb-apass2, async-2023-PbPb-apass5

#1945 FT0 recoQC: askGRPLHCIF added into cfg
  DATA/production/qc-async/ft0.json
  MC/config/QC/json/ft0-reconstruction-config.json
Labels: async-2023-pbpb-apass4, async-2023-pp-apass4, async-2024-pp-apass1, async-2022-pp-apass7, async-2024-pp-cpass0, async-2024-PbPb-apass1, async-2024-ppRef-apass1, async-2024-PbPb-apass2, async-2023-PbPb-apass5

#1965 [PWGHF] Add config for correlated bkg production in pp
  MC/config/PWGHF/ini/GeneratorHF_D2H_ccbar_and_bbbar_gap5_Mode2_corrBkg.ini
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_CorrBkg.cfg
Labels: async-2023-pbpb-apass4, async-2023-pp-apass4, async-2024-pp-apass1, async-2022-pp-apass7, async-2024-pp-cpass0, async-2024-PbPb-apass1, async-2024-ppRef-apass1, async-2024-PbPb-apass2, async-2023-PbPb-apass5

#1977 MUON: added dataSampling policies for muon tracks in async QC configuration
  DATA/production/qc-async/mftmchmid-tracks.json
Labels: async-2023-PbPb-apass5
