Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli

More resilient logic in determining MC events from AO2D file (#1776)
  MC/bin/o2dpg_determine_eventstat.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adding eta cuts to the trigger (#1700)
  MC/config/PWGUD/ini/GenStarlight_kCohJpsiToMu_PbPb_5360_Muon.ini
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/config/PWGUD/trigger/selectParticlesInAcceptance.C
  MC/run/PWGUD/runSTARlightANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

WIP: Allow to generate events before timeframe start (#1768)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Added description and example
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Improvements for run_span treatment
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Added possibility to define a general HEPMCOFFSET. Is usefull when simulating different SPLITIDs of a run in separate jobs. (#1730)
  MC/bin/o2dpg_sim_workflow.py
  UTILS/InitHepMCEventSkip.sh
  UTILS/ReadHepMCEventSkip.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Ability to treat run-holes in anchored MC
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Significant MC Workflow restructuring (#1790)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Enable orbits early / history effect by default
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Better support to treat events from HepMC event files (multi-timeframe case)
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  UTILS/ReadHepMCEventSkip.sh
  UTILS/UpdateHepMCEventSkip.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Increased cpu value to 8 when creating pool
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Removed comment
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Allow for fractional orbits_early
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Yet more resilience in o2dpg_determine_eventstat (#1777)
  MC/bin/o2dpg_determine_eventstat.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Script for hybrid JSON template generation
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Use new AggregatedRunInfo to fetch SOR/EOX/FirstOrbit (#1767)
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

no vertexing for evtpool (#1849)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix TPC timeseries for MC (#1740)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Take away SHMSIZE for TPCCluster
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

protection against corrupt O2DPG repository during topology generation
  DATA/tools/epn/gen_topo_o2dpg.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Update JSON template script for Hybrid generator (#1845)
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Script to run STARlight anchored productions (#1681)
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/run/PWGUD/runSTARlightANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

Add run type and beam type metadata for async and MC QC (#1838)
  DATA/production/configurations/asyncReco/setenv_extra.sh
  DATA/production/o2dpg_qc_postproc_workflow.py
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

AnchoredMC: Allow to overwrite number of orbits per TF
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Basic implementation of event pooling in O2DPG workflow (#1760)
  MC/bin/o2dpg_sim_workflow.py
  MC/run/examples/event_pool.sh
  UTILS/root_merger.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

EventPools: Timeout option and stat file (#1852)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Creating the tar from root files only if there is a JDL env var that tells to do so (#1758)
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Consistency fixes for SOR determination in unanchored MC (#1780)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add Omega_c decay table and G4 config to use external decayer (#1879)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
  MC/config/PWGHF/pythia8/decayer/geant4_externaldecayer_omegac.in
Owners: @AliceO2Group/reviewers-pwg-hf

Added evtpool to template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix decay table to avoid contamination from granddaughters (#1880)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Improved hybrid template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix file linking for EMC digi task (in case of embedding)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

WIP: Allow to generate events before timeframe start (#1768)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Script to run STARlight anchored productions (#1681)
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/run/PWGUD/runSTARlightANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

EvtPool: Make stat file non-empty to enable MonaLisa upload
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

EventPools: Timeout option and stat file (#1852)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Basic implementation of event pooling in O2DPG workflow (#1760)
  MC/bin/o2dpg_sim_workflow.py
  MC/run/examples/event_pool.sh
  UTILS/root_merger.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Significant MC Workflow restructuring (#1790)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix TPC timeseries for MC (#1740)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66
