Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

[PWGHF] Add config for correlated bkg production in pp (#1965)
  MC/config/PWGHF/ini/GeneratorHF_D2H_ccbar_and_bbbar_gap5_Mode2_corrBkg.ini
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_CorrBkg.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

add seed number for MC test script
  MC/run/examples/O2DPG_pp_minbias.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Include example with EPOS4HQ
  MC/config/examples/epos4/epos.sh
  MC/config/examples/epos4/generator/examplehq.optns
  MC/config/examples/ini/GeneratorEPOS4HQ.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

ATO-648 - adding diff of workflow from the alien
  UTILS/Parsers/workflowToJSON.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Moving treeFastCache.C and treeFastCacheND.C from TPC gitlab to the O2DPG
  UTILS/Parsers/READMEtreeFastCache.md
  UTILS/Parsers/treeFastCache.C
  UTILS/Parsers/treeFastCacheND.C
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Updated READMEtreeFastCache.md
  UTILS/Parsers/READMEtreeFastCache.md
  UTILS/Parsers/treeFastCacheND.C
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Adding unit test for the tree diff and time series comparison
  UTILS/Parsers/treeFastCacheND.C
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Add switch for synthetic flow in standard gap triggered LF generator
  MC/config/PWGLF/ini/GeneratorLFHyperNucleiPbPbGapWithFlow.ini
  MC/config/PWGLF/pythia8/generator_pythia8_longlived_gaptriggered.C
Owners: @AliceO2Group/reviewers-pwg-lf

Add switch for synthetic flow in standard gap triggered LF generator (#1968)
  MC/config/PWGLF/ini/GeneratorLFHyperNucleiPbPbGapWithFlow.ini
  MC/config/PWGLF/pythia8/generator_pythia8_longlived_gaptriggered.C
Owners: @AliceO2Group/reviewers-pwg-lf

Include example with EPOS4HQ
  MC/config/examples/epos4/epos.sh
  MC/config/examples/epos4/generator/examplehq.optns
  MC/config/examples/ini/GeneratorEPOS4.ini
  MC/config/examples/ini/GeneratorEPOS4HQ.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adding getStat
  UTILS/Parsers/treeFastCache.C
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Add Angantyr O-O cfg
  MC/config/common/pythia8/generator/pythia8_OO.cfg
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add config for Hb -> Hc + K decays (correlated background in Hb -> Hc + pi)
  MC/config/PWGHF/pythia8/generator/pythia8_beautyhadronic_with_BtoDK_Mode2.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Add ini file and test
  MC/config/PWGHF/ini/GeneratorHF_D2H_bbbar_BtoDK_gap5_Mode2.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_BtoDK_gap5_Mode2.C
Owners: @AliceO2Group/reviewers-pwg-hf

[PWGHF] Add config for Hb -> Hc + K decays (#1970)
  MC/config/PWGHF/ini/GeneratorHF_D2H_bbbar_BtoDK_gap5_Mode2.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_BtoDK_gap5_Mode2.C
  MC/config/PWGHF/pythia8/generator/pythia8_beautyhadronic_with_BtoDK_Mode2.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Refactor of anchor configuration logic
  MC/bin/o2dpg_dpl_config_tools.py
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchor-dpl-options-blacklist.json
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Disable outdated tpc_spacecharge_downloader task
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adding makeDiffWorkflow using path to local or alien workflow.config + treeFastCache.C+treeFastCacheND.C (#1964)
  UTILS/Parsers/READMEtreeFastCache.md
  UTILS/Parsers/treeFastCache.C
  UTILS/Parsers/treeFastCacheND.C
  UTILS/Parsers/workflowToJSON.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Add configuration for PbPb 5.52TeV with more abundant Xi and Omegas
  MC/config/ALICE3/ini/tests/xicc_background_PbPb.C
  MC/config/ALICE3/ini/xicc_background_PbPb.ini
  MC/config/ALICE3/pythia8/generator_pythia8_strangeness_gun_PbPb.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Frametype fix for asymmetric beams
  MC/config/common/pythia8/utils/mkpy8cfg.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Update test
  MC/config/ALICE3/ini/tests/xicc_background_PbPb.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
