Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

MC aQC for MCH, MCH-MID and MFT-MCH, MFT-MCH-MID objects
  MC/config/QC/json/mftmchmid-tracks-task.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Revert "Move some part back to setenv.sh"
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Revert "Move some part back to setenv.sh"
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Use tpcitsMatch.askMinTPCRow=78 for PbPb23 apass>4 and PbPb24 apass>1
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Use tpcitsMatch.askMinTPCRow=78 for PbPb23 apass>4 and PbPb24 apass>1
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Use tpcitsMatch.askMinTPCRow=78 for PbPb23 apass>4 and PbPb24 apass>1 (bis)
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Use tpcitsMatch.askMinTPCRow=78 for PbPb23 apass>4 and PbPb24 apass>1 (bis)
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Add xi injector for pp and PbPb
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
  MC/config/ALICE3/ini/xi_PbPb.ini
  MC/config/ALICE3/ini/xi_pp.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Change to DPG_MC_CONFIG_ROOT
  MC/config/ALICE3/ini/xi_PbPb.ini
  MC/config/ALICE3/ini/xi_pp.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Using consul and apricot servers in EPNSYNCMODE only
  DATA/common/gen_topo_helper_functions.sh
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

EPNs are bumped to ALMA9
  DATA/README.md
  DATA/testing/detectors/FDD/run_fdd_ctf.sh
  DATA/testing/detectors/FDD/run_fdd_digits_ctf.sh
  DATA/testing/detectors/FDD/run_fdd_digits_qc_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_digits_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_digits_qc_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_digits_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_digits_qc_ctf.sh
  DATA/testing/private/afurs/run_fdd_ft0_fv0_ctf.sh
  DATA/testing/private/afurs/run_fdd_ft0_fv0_digits_qc_ctf.sh
  DATA/testing/private/afurs/run_ft0_fv0_ctf.sh
  DATA/testing/private/afurs/run_ft0_fv0_digits_qc_ctf.sh
  DATA/testing/private/shahoian/runTF_PB.sh
  DATA/testing/private/shahoian/runTF_ext_dpl.sh
  DATA/testing/private/shahoian/run_PB.sh
  DATA/testing/private/shahoian/run_ext.sh
  DATA/testing/private/shahoian/run_ext_dpl.sh
  DATA/testing/private/shahoian/run_test.sh
  DATA/testing/private/zampolli/calib/run.sh
  DATA/testing/private/zampolli/runTF_ext_dpl.sh
  DATA/testing/private/zampolli/run_ext_dpl.sh
  DATA/tools/epn/gen_topo.sh
  DATA/tools/epn/gen_topo_logged.sh
  DATA/tools/epn/run.sh
  DATA/tools/parse
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

big shared mem for TPC (#1938)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add simple test for the external generator
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix typo
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix CI error
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix CI error
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[ALICE3] Add xi injector for pp and PbPb (#1939)
  MC/config/ALICE3/ini/tests/xi_PbPb.C
  MC/config/ALICE3/ini/tests/xi_pp.C
  MC/config/ALICE3/ini/xi_PbPb.ini
  MC/config/ALICE3/ini/xi_pp.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

EPNs are bumped to ALMA9
  DATA/README.md
  DATA/testing/detectors/FDD/run_fdd_ctf.sh
  DATA/testing/detectors/FDD/run_fdd_digits_ctf.sh
  DATA/testing/detectors/FDD/run_fdd_digits_qc_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_digits_ctf.sh
  DATA/testing/detectors/FT0/run_ft0_digits_qc_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_digits_ctf.sh
  DATA/testing/detectors/FV0/run_fv0_digits_qc_ctf.sh
  DATA/testing/private/afurs/run_fdd_ft0_fv0_ctf.sh
  DATA/testing/private/afurs/run_fdd_ft0_fv0_digits_qc_ctf.sh
  DATA/testing/private/afurs/run_ft0_fv0_ctf.sh
  DATA/testing/private/afurs/run_ft0_fv0_digits_qc_ctf.sh
  DATA/testing/private/shahoian/runTF_PB.sh
  DATA/testing/private/shahoian/runTF_ext_dpl.sh
  DATA/testing/private/shahoian/run_PB.sh
  DATA/testing/private/shahoian/run_ext.sh
  DATA/testing/private/shahoian/run_ext_dpl.sh
  DATA/testing/private/shahoian/run_test.sh
  DATA/testing/private/zampolli/calib/run.sh
  DATA/testing/private/zampolli/runTF_ext_dpl.sh
  DATA/testing/private/zampolli/run_ext_dpl.sh
  DATA/tools/epn/gen_topo.sh
  DATA/tools/epn/gen_topo_logged.sh
  DATA/tools/epn/run.sh
  DATA/tools/parse
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Add XiC injector
  MC/config/ALICE3/ini/tests/xic_PbPb.C
  MC/config/ALICE3/ini/tests/xic_pp.C
  MC/config/ALICE3/ini/xic_PbPb.ini
  MC/config/ALICE3/ini/xic_pp.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add XiC injector
  MC/config/ALICE3/ini/tests/xic_PbPb.C
  MC/config/ALICE3/ini/tests/xic_pp.C
  MC/config/ALICE3/ini/xic_PbPb.ini
  MC/config/ALICE3/ini/xic_pp.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

MC aQC for MCH, MCH-MID, MFT-MCH, MFT-MCH-MID
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
  MC/config/QC/json/mch-digits-task.json
  MC/config/QC/json/mch-errors-task.json
  MC/config/QC/json/mch-reco-task.json
  MC/config/QC/json/mch-tracks-task.json
  MC/config/QC/json/mchmid-tracks-task.json
  MC/config/QC/json/mftmch-tracks-task.json
  MC/config/QC/json/mftmchmid-tracks-task.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix path to file in consul
  DATA/production/calib/mid-badchannels.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Add movingWindows fir DigitTask
  DATA/production/qc-async/mid.json
Owners: @davidrohr, @shahor02, @chiarazampolli

movingWindows mid.json
  DATA/production/qc-async/mid.json
Owners: @davidrohr, @shahor02, @chiarazampolli

Fix path to file in consul (#1943)
  DATA/production/calib/mid-badchannels.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Update setenv_extra.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

FIT: add MC aQC for FV0 and FDD
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
  MC/config/QC/json/fdd-recpoints.json
  MC/config/QC/json/fv0-digits.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

FT0 recoQC: askGRPLHCIF added into cfg
  DATA/production/qc-async/ft0.json
  MC/config/QC/json/ft0-reconstruction-config.json
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

Several tooling improvements
  GRID/utils/getReproducerScript.sh
  GRID/utils/grid_submit.sh
  MC/run/ANCHOR/anchorMC.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

Improve anchorMC testing for 2tags
  MC/run/ANCHOR/tests/test_anchor_2tag_template.sh
  MC/run/ANCHOR/tests/test_anchor_cases.csv
  MC/run/ANCHOR/tests/test_looper.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Several tooling improvements
  GRID/utils/getReproducerScript.sh
  GRID/utils/grid_submit.sh
  MC/run/ANCHOR/anchorMC.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

Update setenv_extra.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Remove disabling TimeGain in MC
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Adding json file for HMP async MC QC
  MC/config/QC/json/hmp.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Update tpc.json
  DATA/production/qc-async/tpc.json
Owners: @davidrohr, @shahor02, @chiarazampolli

[MCH] add cut random fraction setting for the cases with and without ITS
  DATA/production/workflow-multiplicities.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

anchorMC: JDL coupling to condition_not_after
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

anchorMC: Set TPCSCALINGSOURCE per default to CTP
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

anchorMC: JDL coupling to condition_not_after
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

anchorMC: Set TPCSCALINGSOURCE per default to CTP
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
