Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

Common: add has_detector(s)_gpu helpers
  DATA/common/gen_topo_helper_functions.sh
  DATA/common/setenv.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Common: add has_detector(s)_gpu helpers
  DATA/common/gen_topo_helper_functions.sh
  DATA/common/setenv.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

GLOQC: set new defaults
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
  MC/config/QC/json/ITSTPCmatchedTracks_direct_MC.json
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

GLOQC: set new defaults (#1950)
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
  MC/config/QC/json/ITSTPCmatchedTracks_direct_MC.json
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

Disable MCHMFT QC task
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

disable MCHMFT QC task until it is fixed
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

disable MCHMFT QC task until it is fixed
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Settings to use only 1 edge pad for edge cluster flagging
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Detector workflows might query consul/apricot for QC without requesting WORKFLOW_PARAMETERS=QC
  DATA/common/gen_topo_helper_functions.sh
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Detector workflows might query consul/apricot for QC without requesting WORKFLOW_PARAMETERS=QC
  DATA/common/gen_topo_helper_functions.sh
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

pp: relax ITS reco cuts wrt PbPb, extend TPC matching to PR78
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

pp: relax ITS reco cuts wrt PbPb, extend TPC matching to PR78
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Always define pass number in the setenv_extra.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Always define pass number in the setenv_extra.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

First implementation of TPC loopers external generator
  MC/config/common/TPCloopers/ScalerPairParams.json
  MC/config/common/TPCloopers/generatorWGAN_pair.onnx
  MC/config/common/TPCloopers/poisson_params.csv
  MC/config/common/external/generator/TPCLoopers.C
  MC/config/common/ini/GeneratorTPCloopers.ini
  MC/config/common/ini/GeneratorTPCloopers_fixNPairs.ini
  MC/config/common/ini/tests/GeneratorTPCloopers.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Replaced TVectorDs with std::vectors
  MC/config/common/external/generator/TPCLoopers.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

FIT: add MC aQC for FV0 and FDD (#1741)
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
  MC/config/QC/json/fdd-recpoints.json
  MC/config/QC/json/fv0-digits.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Possibility to digest ALIEN_JDL_TPCDEDXCLMASKALT and ALIEN_JDL_TPCEDGETWOPADS
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Possibility to digest ALIEN_JDL_TPCDEDXCLMASKALT and ALIEN_JDL_TPCEDGETWOPADS
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Create o2-analysis-time-dependent-qa.json
  MC/config/analysis_testing/json/dpl/o2-analysis-time-dependent-qa.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Update analyses_config.json
  MC/config/analysis_testing/json/analyses_config.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

dummy
  MC/config/analysis_testing/json/dpl/o2-analysis-time-dependent-qa.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Dummy commit to trigger new CI
  MC/config/analysis_testing/json/dpl/o2-analysis-time-dependent-qa.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add o2-analysis-time-dependent-qa to the suite of AnalysisQC tasks (#1959)
  MC/config/analysis_testing/json/analyses_config.json
  MC/config/analysis_testing/json/dpl/o2-analysis-time-dependent-qa.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Simplify parameterized single mu generator (#1898)
  MC/config/PWGDQ/external/generator/GeneratorParamMuon.C
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Added loopers from Compton effect and updated external generator
  MC/config/common/TPCloopers/ScalerComptonParams.json
  MC/config/common/TPCloopers/gaussian_params.csv
  MC/config/common/TPCloopers/generatorWGAN_compton.onnx
  MC/config/common/external/generator/TPCLoopers.C
  MC/config/common/ini/GeneratorTPCloopers.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Remove sources and inputs in async json, and fix for sync
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
Owners: @davidrohr, @shahor02, @chiarazampolli

MC-QC stability fix
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Remove sources and inputs in async json, and fix for sync (#1960)
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
Owners: @davidrohr, @shahor02, @chiarazampolli

Update of example including EPOS4.0.3 version
  MC/config/examples/epos4/epos.sh
  MC/config/examples/ini/GeneratorEPOS4-0-3.ini
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Refactor of anchor configuration logic
  MC/bin/o2dpg_dpl_config_tools.py
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchor-dpl-options-blacklist.json
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

FIT: MC digitizer settings for 2024
  MC/bin/o2dpg_sim_config.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Refactor of anchor configuration logic
  MC/bin/o2dpg_dpl_config_tools.py
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/run/ANCHOR/anchor-dpl-options-blacklist.json
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Disable outdated tpc_spacecharge_downloader task
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Disable outdated tpc_spacecharge_downloader task
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

MC-QC stability fix
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

FT0 recoQC: askGRPLHCIF added into cfg (#1945)
  DATA/production/qc-async/ft0.json
  MC/config/QC/json/ft0-reconstruction-config.json
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

[PWGHF] Add config and ini file for correlated bkg production in pp
  MC/config/PWGHF/ini/GeneratorHF_D2H_ccbar_and_bbbar_gap5_Mode2_corrBkg.ini
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_CorrBkg.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

[PWGHF] minor fix in ini file
  MC/config/PWGHF/ini/GeneratorHF_D2H_ccbar_and_bbbar_gap5_Mode2_corrBkg.ini
Owners: @AliceO2Group/reviewers-pwg-hf

[PWGHF] minor fix in config file
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_CorrBkg.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
