Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

[PWGDQ] Adding pythia Onia generator for prompt J/psi+psi(2S) at fwd-y (#1909)
  MC/config/PWGDQ/external/generator/generator_pythia8Onia_PromptSignals_gaptriggered.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiPsi2SFwdy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptJpsiPsi2SFwdy_Pythia8_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

anchorMC: documentation
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add files to simulate HFs to dimuons with trigger gap (#1820)
  MC/config/PWGDQ/external/generator/GeneratorHFToMu_EvtGenFwdY_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.ini
  MC/config/PWGDQ/ini/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Change bad-data-interval parsing to account for more requirements
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Generalise coalescence generator in view of event pools
  MC/config/PWGLF/ini/GeneratorLF_Coalescence.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_Coalescence.C
  MC/config/PWGLF/pythia8/generator_pythia8_coalescence.C
Owners: @AliceO2Group/reviewers-pwg-lf

Fix injection gap math (#1859)
  MC/config/PWGLF/pythia8/generator_pythia8_LF.C
Owners: @AliceO2Group/reviewers-pwg-lf

Adding number of JPsi per event as parameter
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
Owners: @AliceO2Group/reviewers-pwg-dq

Improved hybrid template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

add psi(2S) and upsilon
  MC/config/PWGEM/decaytables/decaytable_LMee.dat
  MC/config/PWGEM/external/generator/GeneratorEMCocktailV2.C
Owners: @AliceO2Group/reviewers-pwg-em

O2DPG-MC: Possibility to pass additional external user settings
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_workflow_utils.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix decay table to avoid contamination from granddaughters (#1880)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Two improvements for the MC anchoring service
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add Omega_c decay table and G4 config to use external decayer (#1879)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
  MC/config/PWGHF/pythia8/decayer/geant4_externaldecayer_omegac.in
Owners: @AliceO2Group/reviewers-pwg-hf

Other Jpsi decays and trigger for various particles in dpmjet
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.4PRONG.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.6PRONG.DEC
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/config/PWGUD/trigger/triggerDpmjetParticle.C
Owners: @AliceO2Group/reviewers-pwg-ud

anchoredMC: Development for 2-tag strategy
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

TPC: enable MC time gain usage
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

PWGHF: rename config of OmegaC->Omega in OmegaC NoDecay (#1871)
  MC/config/PWGHF/ini/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.C
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_OmegaC_NoDecay.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

update default settings for Graniitti simulations
  MC/config/PWGUD/templates/ALICE_Graniitti.temp
Owners: @AliceO2Group/reviewers-pwg-ud

Modify Lnn generator to include Li4
  MC/config/PWGLF/ini/GeneratorLFExoticNucleiPbPb.ini
  MC/config/PWGLF/ini/GeneratorLFLnnPbPb.ini
  MC/config/PWGLF/ini/tests/GeneratorLFExoticNucleiPbPb.C
  MC/config/PWGLF/pythia8/generator/exotic_nuclei_pbpb.gun
  MC/config/PWGLF/pythia8/generator/lnn_pbpb.gun
Owners: @AliceO2Group/reviewers-pwg-lf

Fix unit problem determining orbit for exclusion
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix file linking for EMC digi task (in case of embedding)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

update for generating a cocktail of X3872 + Psi2S to Jpsi pi pi (#1860)
  MC/config/PWGDQ/EvtGen/DecayTablesEvtgen/X3872ANDPSI2STOJPSIPIPI.DEC
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
  MC/config/PWGDQ/external/generator/generator_pythia8_withInjectedPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Added evtpool to template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Minor updates of upcgen and graniitti generators and related scripts
  MC/config/PWGUD/external/generator/GeneratorGraniitti.C
  MC/config/PWGUD/external/generator/GeneratorUpcgen.C
  MC/config/PWGUD/ini/makeGraniittiConfig.py
  MC/config/PWGUD/trigger/selectParticlesInAcceptance.C
  MC/run/PWGUD/runGraniittiANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

[MUON] added option for storing nCandidates in the MFT-MCH matching
  DATA/common/setenv.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

fix attempted and accepted events in header
  MC/config/PWGGAJE/external/generator/generator_pythia8_gaptrigger_jets_hook.C
Owners: @AliceO2Group/reviewers-pwg-je

Match globalTracking.. to extrapolationTracking.. GPU settings change in O2 PR13943
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Match globalTracking.. to extrapolationTracking.. GPU settings change in O2 PR13943
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

[O2DPG,UTILS,O2-5725] Expand macros to find corrupted AO2Ds
  UTILS/checkCorruptedAO2Ds.C
  UTILS/findCorruptedAO2Ds.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

O2DPG-MC: Possibility to pass additional external user settings
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_workflow_utils.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[MUON] added option for storing nCandidates in the MFT-MCH matching
  DATA/common/setenv.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

MID calibration: parse qc file with apricot
  DATA/production/calib/mid-badchannels.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

anchorMC.sh sets O2DPG_ENABLE_TPC_DISTORTIONS=ON if ANCHOR_SIM_OPTIONS request distortions
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add backward-compatibility
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

anchorMC.sh sets O2DPG_ENABLE_TPC_DISTORTIONS=ON if ANCHOR_SIM_OPTIONS request distortions
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[PWGEM] LMee: added new ini file for 13 TeV pp cocktail
  MC/config/PWGEM/ini/GeneratorEMCocktail_Run3pp_v2.ini
Owners: @AliceO2Group/reviewers-pwg-em

[PWGEM] LMee: added new ini file for 13 TeV pp cocktail (#1918)
  MC/config/PWGEM/ini/GeneratorEMCocktail_Run3pp_v2.ini
Owners: @AliceO2Group/reviewers-pwg-em

Add backward-compatibility
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Update macros to find corrupted AO2Ds
  UTILS/checkCorruptedAO2Ds.C
  UTILS/findCorruptedAO2Ds.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Added functionality to check for DFs which cause "repair" warning message
  UTILS/checkCorruptedAO2Ds.C
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
