Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

Allow multiple nuclei per event (#1896)
  MC/config/PWGLF/pythia8/generator_pythia8_coalescence.C
Owners: @AliceO2Group/reviewers-pwg-lf

Add extra files for HF -> mumu simulations in DQ (#1884)
  MC/config/PWGDQ/external/generator/GeneratorHFToMu_EvtGenFwdY_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_inel.ini
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_natural.ini
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_natural_inel.ini
  MC/config/PWGDQ/ini/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.ini
  MC/config/PWGDQ/ini/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap_natural.ini
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_inel.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_natural.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap_natural_inel.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap_natural.C
  MC/config/PWGDQ/pythia8/generator/pythia8_hard_cr2.cfg
  MC/config/PWGDQ/pythia8/generator/pythia8_inel_cr2.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

Add parametrized single muon generator
  MC/config/PWGDQ/external/generator/GeneratorParamMuon.C
Owners: @AliceO2Group/reviewers-pwg-dq

Add parametrized single muon generator
  MC/config/PWGDQ/external/generator/GeneratorParamMuon.C
Owners: @AliceO2Group/reviewers-pwg-dq

Single mu generator: fix file naming, configurable pdg
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Developments for 2-tag software processing
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Simplify parameterized single mu generator
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Remove unused fields
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Remove unused fields
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Remove unused fields
  MC/config/PWGDQ/external/generator/GeneratorParamSingleMuon_PbPb_5TeV.C
Owners: @AliceO2Group/reviewers-pwg-dq

Developments for 2-tag software processing
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Improvements in generator vertexing
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

set FLUX_POINT=0 by default.
  MC/config/PWGUD/external/generator/GeneratorUpcgen.C
Owners: @AliceO2Group/reviewers-pwg-ud

Improvements in generator vertexing
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[PWGDQ] Add pythia8 prompt J/psi generator at forward rapidity
  MC/config/PWGDQ/external/generator/generator_pythia8Onia_PromptSignals_gaptriggered.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiFwdy_PythiaOnia_TriggerGap.ini
  MC/config/common/pythia8/generator/pythia8_hf.cfg
Owners: @AliceO2Group/reviewers-pwg-dq, @sawenzel, @chiarazampolli, @jackal1-66

Adjustments to make module swapping work in our singularity container
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adjustments to make module swapping work in our singularity container
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adding test macro
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptJpsiFwdy_PythiaOnia_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Improvements in generator vertexing
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Improvements in generator vertexing
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Improvements in generator vertexing
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Renaming inclusive jpsi generator and updating the bbbar -> B plus generator
  MC/config/PWGDQ/external/generator/generator_pythia8_HadronTriggered_withGap.C
  MC/config/PWGDQ/external/generator/generator_pythia8_NonPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToBplus_midy_triggerGap.ini
  MC/config/PWGDQ/ini/Generator_InjectedInclusiveJpsiMidy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiMidy_PythiaOnia_TriggerGap.ini
  MC/config/PWGDQ/pythia8/generator/pythia8_charmoniumAll_triggerGap.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

[PWG-DQ] Renaming the generator config for pythia inclusive jpsi, adding several B hadrons together with the Bplus generator (#1904)
  MC/config/PWGDQ/external/generator/generator_pythia8_HadronTriggered_withGap.C
  MC/config/PWGDQ/external/generator/generator_pythia8_NonPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToBplus_midy_triggerGap.ini
  MC/config/PWGDQ/ini/Generator_InjectedInclusiveJpsiMidy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/pythia8/generator/pythia8_charmoniumAll_triggerGap.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

Adding a generator for combined inclusive jpsi and psi2S via hadron triggered pythia
  MC/config/PWGDQ/external/generator/generator_pythia8_HadronTriggered_withGap.C
  MC/config/PWGDQ/ini/Generator_InjectedInclusiveJpsiPsi2SMidy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/pythia8/decayer/switchOffJpsi.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

ability to specify requirement for grid_submit
  GRID/utils/grid_submit.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Ability to query DPL options in a specific environment
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Adding a generator for combined inclusive jpsi and psi2S via hadron triggered pythia (#1905)
  MC/config/PWGDQ/external/generator/generator_pythia8_HadronTriggered_withGap.C
  MC/config/PWGDQ/ini/Generator_InjectedInclusiveJpsiPsi2SMidy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/pythia8/decayer/switchOffJpsi.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

Fix failing (test) scripts (#1808)
  MC/run/PWGDQ/runBeautyToJpsi_fwdy_PbPb.sh
  MC/run/PWGDQ/runBeautyToJpsi_fwdy_pp.sh
  MC/run/PWGDQ/runBeautyToJpsi_midy_pp.sh
  MC/run/PWGDQ/runBeautyToPsiAndJpsi_fwdy_pp_triggerGap.sh
  MC/run/PWGDQ/runBeautyToPsiAndJpsi_midy_pp_triggerGap.sh
  MC/run/PWGDQ/runBeautyToPsi_fwdy_PbPb.sh
  MC/run/PWGDQ/runBeautyToPsi_fwdy_pp.sh
  MC/run/PWGDQ/runBeautyToPsi_midy_pp.sh
  MC/run/PWGDQ/runBplusToJpsi_midy_pp.sh
  MC/run/PWGDQ/runBplusToJpsi_midy_pp_triggerGap.sh
  MC/run/PWGDQ/runFwdMuBoxGen_PbPb.sh
  MC/run/PWGDQ/runFwdMuBoxGen_pp.sh
  MC/run/PWGDQ/runPromptCharmonia_fwdy_PbPb.sh
  MC/run/PWGDQ/runPromptCharmonia_fwdy_pp.sh
  MC/run/PWGDQ/runPromptCharmonia_fwdy_pp_assessment.sh
  MC/run/PWGDQ/runPromptCharmonia_fwdy_pp_assessment_triggerGap.sh
  MC/run/PWGDQ/runPromptCharmonia_midy_pp.sh
  MC/run/PWGDQ/runPromptCharmonia_midy_pp_triggerGap.sh
  MC/run/PWGDQ/runPromptJpsi_fwdy_pp_assessment_triggerGap.sh
  MC/run/PWGDQ/runPromptJpsi_midy_pp.sh
  MC/run/PWGDQ/runPromptPsi2S_fwdy_pp_assessment_triggerGap.sh
  MC/run/PWGGAJE/run_jets.sh
  MC/run/PWGGAJE/run_jets_embedding.sh
  MC/run/PWGHF/analysis_benchmark.sh
Owners: @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-hf

Script for hybrid JSON template generation
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Basic implementation of event pooling in O2DPG workflow (#1760)
  MC/bin/o2dpg_sim_workflow.py
  MC/run/examples/event_pool.sh
  UTILS/root_merger.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Created EPOS4 external example generator (#1789)
  MC/config/examples/epos4/epos.sh
  MC/config/examples/epos4/generator/example.optns
  MC/config/examples/epos4/generator_EPOS4.C
  MC/config/examples/ini/GeneratorEPOS4.ini
  MC/config/examples/ini/tests/GeneratorEPOS4.C
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Updated example EPOS4 options file
  MC/config/examples/epos4/generator/example.optns
Owners: @sawenzel, @chiarazampolli, @jackal1-66

remove lines which inhibit transport at large eta (#1797)
  MC/config/PWGDQ/external/generator/generator_pythia8_NonPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToBplus_midy_triggerGap.ini
  MC/config/PWGDQ/ini/GeneratorHF_bbbar_PsiAndJpsi_midy_triggerGap.ini
Owners: @AliceO2Group/reviewers-pwg-dq

utility script to facilitate cherry-picking (#1782)
  UTILS/get_cherrypick_commit_list.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

DPMJET and other new processes in STARlight (#1765)
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/TAUTAU.EL3PI.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/TAUTAU.PO3PI.DEC
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/dpmjet_PbPb5360.txt
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/config/PWGUD/trigger/selectParticlesInAcceptance.C
Owners: @AliceO2Group/reviewers-pwg-ud

PWGEM/MC: first commit for LMEE v2 cocktail (#1800)
  MC/config/PWGEM/ini/GeneratorEMCocktailwithFlow3040.ini
  MC/config/PWGEM/ini/GeneratorEMCocktailwithFlow4050.ini
  MC/config/PWGEM/parametrizations/PbPb5TeV_central.json
Owners: @AliceO2Group/reviewers-pwg-em

PWGLF: add synthetic flow with xi tester (#1794)
  MC/run/PWGLF/run_SyntheticFlowXi_PbPb.sh
Owners: @AliceO2Group/reviewers-pwg-lf

protection against corrupt O2DPG repository during topology generation
  DATA/tools/epn/gen_topo_o2dpg.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

PWGLF: improve Xi/Om injected spectra (#1784)
  MC/config/PWGLF/pythia8/generator_pythia8_extraStrangeness.C
Owners: @AliceO2Group/reviewers-pwg-lf

Consistency fixes for SOR determination in unanchored MC (#1780)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
