Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

Fix file linking for EMC digi task (in case of embedding)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

anchorMC: documentation
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

update default settings for Graniitti simulations
  MC/config/PWGUD/templates/ALICE_Graniitti.temp
Owners: @AliceO2Group/reviewers-pwg-ud

anchoredMC: Development for 2-tag strategy
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Generalise coalescence generator in view of event pools
  MC/config/PWGLF/ini/GeneratorLF_Coalescence.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_Coalescence.C
  MC/config/PWGLF/pythia8/generator_pythia8_coalescence.C
Owners: @AliceO2Group/reviewers-pwg-lf

Fix decay table to avoid contamination from granddaughters (#1880)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Adding number of JPsi per event as parameter
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
Owners: @AliceO2Group/reviewers-pwg-dq

Improved hybrid template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Minor updates of upcgen and graniitti generators and related scripts
  MC/config/PWGUD/external/generator/GeneratorGraniitti.C
  MC/config/PWGUD/external/generator/GeneratorUpcgen.C
  MC/config/PWGUD/ini/makeGraniittiConfig.py
  MC/config/PWGUD/trigger/selectParticlesInAcceptance.C
  MC/run/PWGUD/runGraniittiANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

Added evtpool to template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

reading FT0 recpoints for TPCtimeseries
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix unit problem determining orbit for exclusion
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

MID: check the filtered digits in the async QC
  DATA/production/qc-async/mid.json
Owners: @davidrohr, @shahor02, @chiarazampolli

Allow multiple nuclei per event
  MC/config/PWGLF/pythia8/generator_pythia8_coalescence.C
Owners: @AliceO2Group/reviewers-pwg-lf

Fix for dpl-eventgen usage, added nEvents protection and executable selection
  MC/config/PWGGAJE/external/generator/generator_pythia8_powheg.C
Owners: @AliceO2Group/reviewers-pwg-je

Fix unit problem determining orbit for exclusion
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix decay table to avoid contamination from granddaughters (#1880)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Adding number of JPsi per event as parameter
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
Owners: @AliceO2Group/reviewers-pwg-dq

Improved hybrid template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Other Jpsi decays and trigger for various particles in dpmjet
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.4PRONG.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.6PRONG.DEC
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/config/PWGUD/trigger/triggerDpmjetParticle.C
Owners: @AliceO2Group/reviewers-pwg-ud

Add Omega_c decay table and G4 config to use external decayer (#1879)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
  MC/config/PWGHF/pythia8/decayer/geant4_externaldecayer_omegac.in
Owners: @AliceO2Group/reviewers-pwg-hf

update default settings for Graniitti simulations
  MC/config/PWGUD/templates/ALICE_Graniitti.temp
Owners: @AliceO2Group/reviewers-pwg-ud

Fix file linking for EMC digi task (in case of embedding)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

TPC: enable MC time gain usage
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Change bad-data-interval parsing to account for more requirements
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Modify Lnn generator to include Li4
  MC/config/PWGLF/ini/GeneratorLFExoticNucleiPbPb.ini
  MC/config/PWGLF/ini/GeneratorLFLnnPbPb.ini
  MC/config/PWGLF/ini/tests/GeneratorLFExoticNucleiPbPb.C
  MC/config/PWGLF/pythia8/generator/exotic_nuclei_pbpb.gun
  MC/config/PWGLF/pythia8/generator/lnn_pbpb.gun
Owners: @AliceO2Group/reviewers-pwg-lf

Fix unit problem determining orbit for exclusion
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

add psi(2S) and upsilon
  MC/config/PWGEM/decaytables/decaytable_LMee.dat
  MC/config/PWGEM/external/generator/GeneratorEMCocktailV2.C
Owners: @AliceO2Group/reviewers-pwg-em

anchoredMC: Development for 2-tag strategy
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Two improvements for the MC anchoring service
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

anchorMC: documentation
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

update for generating a cocktail of X3872 + Psi2S to Jpsi pi pi (#1860)
  MC/config/PWGDQ/EvtGen/DecayTablesEvtgen/X3872ANDPSI2STOJPSIPIPI.DEC
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
  MC/config/PWGDQ/external/generator/generator_pythia8_withInjectedPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Add files to simulate HFs to dimuons with trigger gap (#1820)
  MC/config/PWGDQ/external/generator/GeneratorHFToMu_EvtGenFwdY_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.ini
  MC/config/PWGDQ/ini/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Generalise coalescence generator in view of event pools
  MC/config/PWGLF/ini/GeneratorLF_Coalescence.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_Coalescence.C
  MC/config/PWGLF/pythia8/generator_pythia8_coalescence.C
Owners: @AliceO2Group/reviewers-pwg-lf

Minor updates of upcgen and graniitti generators and related scripts
  MC/config/PWGUD/external/generator/GeneratorGraniitti.C
  MC/config/PWGUD/external/generator/GeneratorUpcgen.C
  MC/config/PWGUD/ini/makeGraniittiConfig.py
  MC/config/PWGUD/trigger/selectParticlesInAcceptance.C
  MC/run/PWGUD/runGraniittiANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

O2DPG-MC: Possibility to pass additional external user settings
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_workflow_utils.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Added evtpool to template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix injection gap math (#1859)
  MC/config/PWGLF/pythia8/generator_pythia8_LF.C
Owners: @AliceO2Group/reviewers-pwg-lf

PWGHF: rename config of OmegaC->Omega in OmegaC NoDecay (#1871)
  MC/config/PWGHF/ini/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.C
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_OmegaC_NoDecay.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Fix for dpl-eventgen usage, added nEvents protection and executable selection
  MC/config/PWGGAJE/external/generator/generator_pythia8_powheg.C
Owners: @AliceO2Group/reviewers-pwg-je

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
