Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @sawenzel, @benedikt-voelkel, @aphecetche, @noferini, @wiechula, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

CODEOWNERS:

* @davidrohr @martenole @shahor02 @chiarazampolli @sawenzel @benedikt-voelkel
/DATA/production @davidrohr @martenole @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH @aphecetche
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID @aphecetche
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD @martenole
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @benedikt-voelkel

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq @sawenzel @chiarazampolli @benedikt-voelkel
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud @sawenzel @chiarazampolli @benedikt-voelkel

/RelVal @sawenzel @chiarazampolli @benedikt-voelkel

CPV, PHS: update qc-async json config according to QC review 2023
  DATA/production/qc-async/cpv.json
  DATA/production/qc-async/phs.json
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

(Optional) decoupling of event gen from transport
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @benedikt-voelkel

Tidy a bit and abort as early as possible
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_PbPb.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @benedikt-voelkel

[Anchor,SimWF] Use LPMANCHORPASSNAME instead of MCANCHOR
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @benedikt-voelkel

qc-workflow: Do not try to write to InfoLogger at all if not in online mode
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

modified grpGeomRequest for ITS and MFT jsons in order to use lightweigth geometry files (#1522)
  DATA/production/qc-async/its.json
  DATA/production/qc-async/mft.json
  DATA/production/qc-sync/its.json
  DATA/production/qc-sync/mft-full-no-tracks.json
  DATA/production/qc-sync/mft-full.json
  MC/config/QC/json/its-clusters-tracks-qc.json
  MC/config/QC/json/mft-clusters.json
  MC/config/QC/json/mft-tracks.json
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @sawenzel, @benedikt-voelkel

calib-workflow: Enable TPC IDC and SAC calib also in non-COSMIC runs by default
  DATA/common/setenv_calib.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @sawenzel, @benedikt-voelkel

qc-workflow: Do not try to write to InfoLogger at all if not in online mode
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Laser trigger fix (#1555)
  DATA/production/calib/tpc-laser-filter.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Fix for tpc-laser-raw-filter
  DATA/testing/detectors/TPC/tpc-laser-raw-filter.sh
  DATA/testing/detectors/TPC/workflows.desc
Owners: @wiechula
