Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

Fix comment in script
  UTILS/findCorruptedAO2Ds.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

fix attempted and accepted events in header (#1911)
  MC/config/PWGGAJE/external/generator/generator_pythia8_gaptrigger_jets_hook.C
Owners: @AliceO2Group/reviewers-pwg-je

Added test redirection mechanism for ini generators (#1889)
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_F2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm.ini
  test/run_generator_tests.sh
Owners: @AliceO2Group/reviewers-pwg-je, @davidrohr, @shahor02, @chiarazampolli, @sawenzel

produce muons from c and b with trigger gap 3
  MC/config/PWGHF/ini/GeneratorHF_mu_bbbar_gap3_Mode2_accSmall.ini
  MC/config/PWGHF/ini/GeneratorHF_mu_ccbar_gap3_Mode2_accSmall.ini
Owners: @AliceO2Group/reviewers-pwg-hf

macros for muons from c,b with gap3
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_bbbar_gap3_Mode2_accSmall.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap3_Mode2_accSmall.C
Owners: @AliceO2Group/reviewers-pwg-hf

Update GeneratorHF_mu_ccbar_gap5_Mode2_accInt_muTrig.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accInt_muTrig.C
Owners: @AliceO2Group/reviewers-pwg-hf

Update GeneratorHF_mu_ccbar_gap5_Mode2_accLarge.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accLarge.C
Owners: @AliceO2Group/reviewers-pwg-hf

Update GeneratorHF_mu_ccbar_gap5_Mode2_accLarge_muTrig.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accLarge_muTrig.C
Owners: @AliceO2Group/reviewers-pwg-hf

Update GeneratorHF_mu_ccbar_gap5_Mode2_accSmall.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accSmall.C
Owners: @AliceO2Group/reviewers-pwg-hf

Added all POWHEG configs as ini generators
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F05_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F2_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_MHigh.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_MLow.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F05_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F2_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_MHigh.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_MLow.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_R2.ini
Owners: @AliceO2Group/reviewers-pwg-je

PWGHF: muon production with gap3 and correction of typo in charm macros with gap5 (#1919)
  MC/config/PWGHF/ini/GeneratorHF_mu_bbbar_gap3_Mode2_accSmall.ini
  MC/config/PWGHF/ini/GeneratorHF_mu_ccbar_gap3_Mode2_accSmall.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_bbbar_gap3_Mode2_accSmall.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap3_Mode2_accSmall.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accLarge.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accLarge_muTrig.C
  MC/config/PWGHF/ini/tests/GeneratorHF_mu_ccbar_gap5_Mode2_accSmall.C
Owners: @AliceO2Group/reviewers-pwg-hf

MID: check the filtered digits in the async QC (#1894)
  DATA/production/qc-async/mid.json
Owners: @davidrohr, @shahor02, @chiarazampolli

[O2DPG,UTILS,O2-5725] Expand macros to find corrupted AO2Ds (#1913)
  UTILS/checkCorruptedAO2Ds.C
  UTILS/findCorruptedAO2Ds.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Added more PWG-JE POWHEG configs as ini generators (#1920)
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F05_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_F2_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_MHigh.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_MLow.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_beauty_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F05_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_F2_R2.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_MHigh.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_MLow.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_R05.ini
  MC/config/PWGGAJE/ini/GeneratorPythia8POWHEG_charm_R2.ini
Owners: @AliceO2Group/reviewers-pwg-je

Simplify, add sending pedestal / threshold to DCS CCDB
  DATA/production/calib/tpc-pedestal.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

TPC: remove obsolete code
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

TPC: remove obsolete code (#1922)
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Workaround crash in TPC digitization
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Support for 2tag anchoredMC
  MC/bin/o2_dpg_workflow_runner.py
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/bin/o2dpg_workflow_utils.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Workaround crash in TPC digitization (#1923)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Support for 2tag anchoredMC (#1924)
  MC/bin/o2_dpg_workflow_runner.py
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_sim_workflow_anchored.py
  MC/bin/o2dpg_workflow_utils.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[MUON] add default values for number of MFT-MCH matching candidates
  DATA/common/setenv.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

set parallel world in test script + toggle ideal ITS in anchored simulation (#1908)
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add possibility to add cluster mask for dE/dx
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Add possibility to add cluster mask for dE/dx
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Update tpc.json
  DATA/production/qc-async/tpc.json
Owners: @davidrohr, @shahor02, @chiarazampolli

Adding json file for HMP async MC QC
  MC/config/QC/json/hmp.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

MID calibration: parse qc file with apricot
  DATA/production/calib/mid-badchannels.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Simplify, add sending pedestal / threshold to DCS CCDB
  DATA/production/calib/tpc-pedestal.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

TPC: Generic remapping, PbPb2023 cluster cut option
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

TPC: Generic remapping, PbPb2023 cluster cut option
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

[MCH] add cut random fraction setting for the cases with and without ITS
  DATA/production/workflow-multiplicities.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

big shared mem for TPC
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[MUON] add default values for number of MFT-MCH matching candidates
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Remove disabling TimeGain in MC
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

Using consul and apricot servers in EPNSYNCMODE only
  DATA/common/gen_topo_helper_functions.sh
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

[MUON] add default values for number of MFT-MCH matching candidates
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Move some part back to setenv.sh
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Move some part back to setenv.sh
  DATA/common/setenv.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

MC aQC for MCH, MCH-MID and MFT-MCH, MFT-MCH-MID objects
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
  MC/config/QC/json/mch-digits-task.json
  MC/config/QC/json/mch-errors-task.json
  MC/config/QC/json/mch-reco-task.json
  MC/config/QC/json/mch-tracks-task.json
  MC/config/QC/json/mchmid-tracks-task.json
  MC/config/QC/json/mftmch-tracks-task.json
Owners: @sawenzel, @chiarazampolli, @jackal1-66

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
