Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli

ZDC scaling factor should be used from 2023 on, not just 2023 (#1795)
  DATA/production/configurations/asyncReco/setenv_extra.sh
Owners: @davidrohr, @shahor02, @chiarazampolli

[PWGDQ] Adding Upsilon Injected Generator (#1787)
  MC/config/PWGDQ/external/generator/GeneratorBottomonia.C
  MC/config/PWGDQ/external/generator/generator_pythia8_withInjectedBottomoniaSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/Generator_InjectedBottomoniaFwdy_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedBottomoniaFwdy_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Added GitHub action to restart PR builds (#1796)
  .github/workflows/clean-ci.yml
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

PWGLF: fix typo when setting seeds (#1799)
  MC/config/PWGLF/pythia8/generator_pythia8_extraStrangeness.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlow.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlowXi.C
Owners: @AliceO2Group/reviewers-pwg-lf

PWGLF: adjust eta range for injection to 1.0 for xi in Pb-Pb (#1813)
  MC/config/PWGLF/pythia8/generator_pythia8_extraStrangeness.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlowXi.C
Owners: @AliceO2Group/reviewers-pwg-lf

avoid that PRODSPLIT is overwritten
  GRID/utils/grid_submit.sh
  MC/run/PWGUD/runSTARlightANCHOR.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @AliceO2Group/reviewers-pwg-ud

add X3872 and Psi2S to Jpsi pi pi (#1801)
  MC/config/PWGDQ/EvtGen/DecayTablesEvtgen/PSITOJPSIPIPI.DEC
  MC/config/PWGDQ/EvtGen/DecayTablesEvtgen/X3872TOJPSIPIPI.DEC
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
  MC/config/PWGDQ/external/generator/generator_pythia8_withInjectedPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptPsi2SToJpsiPiPiMidy_TriggerGap.ini
  MC/config/PWGDQ/ini/Generator_InjectedPromptX3782Midy_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptPsi2SToJpsiPiPiMidy_TriggerGap.C
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptX3782Midy_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Disable dpmjet process and add few Tau processes (#1792)
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/TAUTAU.ELMU.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/TAUTAU.ELPI.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/TAUTAU.POPI.DEC
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
Owners: @AliceO2Group/reviewers-pwg-ud

Removed comment
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add the exotic injection script for resonances
  MC/config/PWGLF/ini/GeneratorLF_Resonances_PbPb_exotic.ini
  MC/config/PWGLF/ini/GeneratorLF_Resonances_pp_exotic.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_PbPb_exotic.C
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_pp_exotic.C
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic.json
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic_pbpb.json
Owners: @AliceO2Group/reviewers-pwg-lf

Method to customize parameters
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
Owners: @AliceO2Group/reviewers-pwg-ud

MC/PWGEM: cocktail updates (#1781)
  MC/config/PWGEM/decaytables/decaytable_LMee.dat
  MC/config/PWGEM/ini/Pythia8_Beauty_Cocktail.ini
  MC/config/PWGEM/ini/Pythia8_Charm_Cocktail.ini
Owners: @AliceO2Group/reviewers-pwg-em

Added description and example
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add General injection script for resonances
  MC/config/PWGLF/ini/GeneratorLF_Resonances_PbPb.ini
  MC/config/PWGLF/ini/GeneratorLF_Resonances_pp.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_PbPb.C
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_pp.C
  MC/config/PWGLF/pythia8/generator/resonancelistgun_pbpb.json
Owners: @AliceO2Group/reviewers-pwg-lf

Add a2(1230) exotic resonance candidate (#1803)
  MC/config/PWGLF/ini/tests/GeneratorLF_Resonances_pp_exotic.C
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic.json
  MC/config/PWGLF/pythia8/generator/resonancelistgun_exotic_pbpb.json
Owners: @AliceO2Group/reviewers-pwg-lf

Rho prime processes (#1810)
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
Owners: @AliceO2Group/reviewers-pwg-ud

Allow PID hypothesis at tracking plots (#1752)
  DATA/production/qc-async/tpc.json
Owners: @davidrohr, @shahor02, @chiarazampolli

ccdb-run-dependent metadata should be int
  DATA/production/qc-async/emc.json
  DATA/production/qc-async/emc_PbPb.json
  MC/config/QC/json/emc-bc-task.json
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

Allow for fractional orbits_early
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

change name of environment variable (#1788)
  MC/config/PWGEM/external/generator/GeneratorEMCocktailV2.C
Owners: @AliceO2Group/reviewers-pwg-em

Add simple script to find corrupted AO2Ds in MC productions (#1783)
  UTILS/checkCorruptedAO2Ds.C
  UTILS/findCorruptedAO2Ds.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

PWGLF: fix seeding issues (#1798)
  MC/config/PWGLF/pythia8/generator_pythia8_extraStrangeness.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlow.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlowXi.C
Owners: @AliceO2Group/reviewers-pwg-lf

Synthetic flow exercise: add Xi-enriched, flow-enabled generator (#1793)
  MC/config/PWGLF/ini/GeneratorLF_SyntheFlowXi.ini
  MC/config/PWGLF/ini/tests/GeneratorLF_SyntheFlowXi.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlow.C
  MC/config/PWGLF/pythia8/generator_pythia8_syntheFlowXi.C
Owners: @AliceO2Group/reviewers-pwg-lf

remove unwanted confkey setting
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix Pb-Pb anchored file for gap-2 setup and parton information
  MC/config/PWGGAJE/ini/GeneratorJE_gapgen2_hook_pp5360GeV.ini
  MC/config/PWGGAJE/ini/GeneratorJE_gapgen5_hook_pp5360GeV.ini
  MC/config/PWGGAJE/ini/tests/GeneratorJE_gapgen2_hook_pp5360GeV.C
Owners: @AliceO2Group/reviewers-pwg-je

set pw in test script + toggle ideal ITS in anchored simulation
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

remove duplicated flag for pw activation
  MC/run/ANCHOR/anchorMC.sh
  MC/run/ANCHOR/tests/test_anchor_2023_apass2_pp.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix string check
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix variable declaration
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

fix check
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Ability to query DPL options in a specific environment
  MC/bin/o2dpg_sim_config.py
  MC/bin/o2dpg_sim_workflow.py
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

ability to specify requirement for grid_submit
  GRID/utils/grid_submit.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Update anchorMC.sh
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Update o2dpg_sim_config.py
  MC/bin/o2dpg_sim_config.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Update o2dpg_sim_config.py
  MC/bin/o2dpg_sim_config.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

ATO-648 - porting the code from the TPC gitlab to the O2DPG tools
  UTILS/Parsers/workflowToJSON.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

fix Pb-Pb anchored file for gap-2 setup and parton information
  MC/config/PWGGAJE/ini/GeneratorJE_gapgen2_hook_pp5360GeV.ini
  MC/config/PWGGAJE/ini/GeneratorJE_gapgen5_hook_pp5360GeV.ini
  MC/config/PWGGAJE/ini/tests/GeneratorJE_gapgen2_hook_pp5360GeV.C
Owners: @AliceO2Group/reviewers-pwg-je

[PWGDQ] Add pythia8 prompt J/psi generator at forward rapidity (#1902)
  MC/config/PWGDQ/external/generator/generator_pythia8Onia_PromptSignals_gaptriggered.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiFwdy_PythiaOnia_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptJpsiFwdy_PythiaOnia_TriggerGap.C
  MC/config/common/pythia8/generator/pythia8_hf.cfg
Owners: @AliceO2Group/reviewers-pwg-dq, @sawenzel, @chiarazampolli, @jackal1-66

set FLUX_POINT=0 by default.
  MC/config/PWGUD/external/generator/GeneratorUpcgen.C
Owners: @AliceO2Group/reviewers-pwg-ud

[PWGDQ] Adding pythia Onia generator for prompt J/psi+psi(2S) at fwd-y
  MC/config/PWGDQ/external/generator/generator_pythia8Onia_PromptSignals_gaptriggered.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiPsi2SFwdy_Pythia8_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptJpsiPsi2SFwdy_Pythia8_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq
