Repository AliceO2Group/O2DPG, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @noferini, @wiechula, @jackal1-66, @AliceO2Group/reviewers-pwg-hf, @AliceO2Group/reviewers-pwg-lf, @AliceO2Group/reviewers-pwg-em, @AliceO2Group/reviewers-pwg-je, @AliceO2Group/reviewers-pwg-cf, @AliceO2Group/reviewers-pwg-dq, @AliceO2Group/reviewers-pwg-ud

Removed comment
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Script for hybrid JSON template generation
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Yet more resilience in o2dpg_determine_eventstat (#1777)
  MC/bin/o2dpg_determine_eventstat.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Use new AggregatedRunInfo to fetch SOR/EOX/FirstOrbit (#1767)
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Creating the tar from root files only if there is a JDL env var that tells to do so (#1758)
  MC/run/ANCHOR/anchorMC.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Allow for fractional orbits_early
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Added possibility to define a general HEPMCOFFSET. Is usefull when simulating different SPLITIDs of a run in separate jobs. (#1730)
  MC/bin/o2dpg_sim_workflow.py
  UTILS/InitHepMCEventSkip.sh
  UTILS/ReadHepMCEventSkip.sh
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Fix decay table to avoid contamination from granddaughters (#1880)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

Fix TPC timeseries for MC (#1740)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Significant MC Workflow restructuring (#1790)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Basic implementation of event pooling in O2DPG workflow (#1760)
  MC/bin/o2dpg_sim_workflow.py
  MC/run/examples/event_pool.sh
  UTILS/root_merger.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66, @davidrohr, @shahor02

Added description and example
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add run type and beam type metadata for async and MC QC (#1838)
  DATA/production/configurations/asyncReco/setenv_extra.sh
  DATA/production/o2dpg_qc_postproc_workflow.py
  MC/bin/o2dpg_qc_finalization_workflow.py
  MC/bin/o2dpg_sim_workflow.py
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel, @jackal1-66

no vertexing for evtpool (#1849)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Improved hybrid template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Take away SHMSIZE for TPCCluster
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Consistency fixes for SOR determination in unanchored MC (#1780)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Increased cpu value to 8 when creating pool
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Possibility to set the input specs for GLO QC dynamically, for K0s (#1834)
  DATA/common/gen_topo_helper_functions.sh
  DATA/production/configurations/asyncReco/setenv_extra.sh
  DATA/production/qc-async/itstpc.json
  DATA/production/qc-sync/glo-itstpc-mtch-qcmn-epn.json
  DATA/production/qc-workflow.sh
Owners: @davidrohr, @shahor02, @chiarazampolli, @sawenzel

Added evtpool to template generator
  MC/bin/o2_hybrid_gen.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add Omega_c decay table and G4 config to use external decayer (#1879)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
  MC/config/PWGHF/pythia8/decayer/geant4_externaldecayer_omegac.in
Owners: @AliceO2Group/reviewers-pwg-hf

EventPools: Timeout option and stat file (#1852)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Script to run STARlight anchored productions (#1681)
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/run/PWGUD/runSTARlightANCHOR.sh
Owners: @AliceO2Group/reviewers-pwg-ud

Enable orbits early / history effect by default
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Fix file linking for EMC digi task (in case of embedding)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

EvtPool: Make stat file non-empty to enable MonaLisa upload
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

WIP: Allow to generate events before timeframe start (#1768)
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

[PWGDQ] Add a generator of jpsi based on pythia8 with SoftQCD:inelastic and CharmoniumShower:all options (#1887)
  MC/config/PWGDQ/external/generator/generator_pythia8Onia_PromptSignals_gaptriggered.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptJpsiMidy_PythiaOnia_TriggerGap.ini
  MC/config/PWGDQ/pythia8/decayer/switchOffJpsi.cfg
  MC/config/PWGDQ/pythia8/generator/pythia8_onia_triggerGap.cfg
Owners: @AliceO2Group/reviewers-pwg-dq

Add Omega_c decay table and G4 config to use external decayer (#1879)
  MC/config/PWGHF/pythia8/decayer/force_hadronic_Omegac_forceOmegaChannels.cfg
  MC/config/PWGHF/pythia8/decayer/geant4_externaldecayer_omegac.in
Owners: @AliceO2Group/reviewers-pwg-hf

Fix injection gap math (#1859)
  MC/config/PWGLF/pythia8/generator_pythia8_LF.C
Owners: @AliceO2Group/reviewers-pwg-lf

Two improvements for the MC anchoring service
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Modify Lnn generator to include Li4
  MC/config/PWGLF/ini/GeneratorLFExoticNucleiPbPb.ini
  MC/config/PWGLF/ini/GeneratorLFLnnPbPb.ini
  MC/config/PWGLF/ini/tests/GeneratorLFExoticNucleiPbPb.C
  MC/config/PWGLF/pythia8/generator/exotic_nuclei_pbpb.gun
  MC/config/PWGLF/pythia8/generator/lnn_pbpb.gun
Owners: @AliceO2Group/reviewers-pwg-lf

add psi(2S) and upsilon
  MC/config/PWGEM/decaytables/decaytable_LMee.dat
  MC/config/PWGEM/external/generator/GeneratorEMCocktailV2.C
Owners: @AliceO2Group/reviewers-pwg-em

Change bad-data-interval parsing to account for more requirements
  MC/bin/o2dpg_sim_workflow_anchored.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

PWGHF: rename config of OmegaC->Omega in OmegaC NoDecay (#1871)
  MC/config/PWGHF/ini/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.ini
  MC/config/PWGHF/ini/tests/GeneratorHF_D2H_bbbar_Mode2_OmegaC_NoDecay.C
  MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_OmegaC_NoDecay.cfg
Owners: @AliceO2Group/reviewers-pwg-hf

O2DPG-MC: Possibility to pass additional external user settings
  MC/bin/o2dpg_sim_workflow.py
  MC/bin/o2dpg_workflow_utils.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

Add files to simulate HFs to dimuons with trigger gap (#1820)
  MC/config/PWGDQ/external/generator/GeneratorHFToMu_EvtGenFwdY_gaptriggered_dq.C
  MC/config/PWGDQ/ini/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.ini
  MC/config/PWGDQ/ini/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/GeneratorHF_bbbarToDDbarToMuons_fwdy_TriggerGap.C
  MC/config/PWGDQ/ini/tests/GeneratorHF_ccbarToMuonsSemileptonic_fwdy_inel_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

Other Jpsi decays and trigger for various particles in dpmjet
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.4PRONG.DEC
  MC/config/PWGUD/external/generator/DecayTablesEvtGen/JPSI.6PRONG.DEC
  MC/config/PWGUD/external/generator/GeneratorStarlight.C
  MC/config/PWGUD/external/generator/GeneratorStarlightToEvtGen.C
  MC/config/PWGUD/ini/makeStarlightConfig.py
  MC/config/PWGUD/trigger/triggerDpmjetParticle.C
Owners: @AliceO2Group/reviewers-pwg-ud

update for generating a cocktail of X3872 + Psi2S to Jpsi pi pi (#1860)
  MC/config/PWGDQ/EvtGen/DecayTablesEvtgen/X3872ANDPSI2STOJPSIPIPI.DEC
  MC/config/PWGDQ/external/generator/GeneratorPromptCharmonia.C
  MC/config/PWGDQ/external/generator/generator_pythia8_withInjectedPromptSignals_gaptriggered_dq.C
  MC/config/PWGDQ/ini/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.ini
  MC/config/PWGDQ/ini/tests/Generator_InjectedPromptX3782andPsi2SMidy_TriggerGap.C
Owners: @AliceO2Group/reviewers-pwg-dq

TPC: enable MC time gain usage
  MC/bin/o2dpg_sim_workflow.py
Owners: @sawenzel, @chiarazampolli, @jackal1-66

CODEOWNERS:

* @davidrohr @shahor02 @chiarazampolli @sawenzel
/DATA/production @davidrohr @shahor02 @chiarazampolli

/DATA/testing/detectors/CPV
/DATA/testing/detectors/EMC
/DATA/testing/detectors/FDD
/DATA/testing/detectors/FT0
/DATA/testing/detectors/FV0
/DATA/testing/detectors/HMP
/DATA/testing/detectors/ITS
/DATA/testing/detectors/MCH
/DATA/testing/detectors/MFT
/DATA/testing/detectors/MID
/DATA/testing/detectors/PHS
/DATA/testing/detectors/TOF @noferini @chiarazampolli
/DATA/testing/detectors/TPC @wiechula
/DATA/testing/detectors/TRD
/DATA/testing/detectors/ZDC

/MC @sawenzel @chiarazampolli @jackal1-66

# PWG experts
/MC/*/PWGHF @AliceO2Group/reviewers-pwg-hf
/MC/*/PWGLF @AliceO2Group/reviewers-pwg-lf
/MC/*/PWGEM @AliceO2Group/reviewers-pwg-em
/MC/*/PWGGAJE @AliceO2Group/reviewers-pwg-je
/MC/*/PWGCF @AliceO2Group/reviewers-pwg-cf
/MC/*/PWGDQ @AliceO2Group/reviewers-pwg-dq
/MC/*/PWGUD @AliceO2Group/reviewers-pwg-ud
/RelVal @sawenzel @chiarazampolli
